@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@100;400&display=swap");

/* body {
  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.15em;
} */
