@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .marimo-tracking-hero {
    letter-spacing: 1em;
    margin-right: -1em;
  }
}

body {
  background-color: black;
}

.nine-images {
  box-shadow: 0 0 2px white;
}

.iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* アスペクト比16:9の場合 */
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-bottom: 2rem; /* YouTubeの下に余白をつける */
}
.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
